<div align=left>
<p>Número de preguntas:<b> <%= statistics.n_preguntas %></b></p>
<p>Número de comentarios totales:<b> <%= statistics.n_comentarios %></b></p>
<p>Número medio de comentarios por pregunta:<b> <%= statistics.promedio_comentarios%></b></p>
<p>Número de preguntas sin comentarios:<b> <%= statistics.preg_sin_com %></b></p>
<p>Número de preguntas con comentarios:<b> <%= statistics.preg_con_com %></b></p>
<p>Número de comentarios no publicados:<b> <%= statistics.comentarios_no_pub %></b></p>
</div>